:root {

}

html {
    max-width: 100%;
}

body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 font-family: Helvetica, sans-serif;
 margin: 0;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(7, 7, 59);
    color: white;
}

nav {
    display: flex; 
}

h1 {
    margin: 10px 0 0 0;
    text-decoration: underline;
    font-weight: bold;
}

/*  Future project: us CSS reset to remove padding-inline-start */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0px;
    font-weight: bold;
}

li {
    text-align: center;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
}

.hero {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* To add for desktop sizing  */
/* aside {
    padding: 0 40px 0 0 ;
} */

figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 0 400px;
    margin: 10px;
    padding 10px;
    border: 2px dashed;
    border-color: black;
}


@media screen and (min-width: 2000px) {
    html {
        width: 80%;
        margin: auto;
    }
    
}